<!doctype html>
<html lang="en">
<head>
    {% if title %}
        <title>{{title}} | BHJCR Online</title>
    {% else %}
    <title>BHJCR Online</title>
        {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/img/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin-election.css')}}">
    <!--===============================================================================================-->

</head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{election.name}}</a>
<!--      <input class="form-control form-control-dark w-100" type="text" placeholder="" aria-label="Search" disabled>-->
        {% if election.status == "Building" %}
            <p class="ml-2 mb-auto" style="color: white;">Election Starts In:</p> <div class="form-control form-control-dark w-100" id="clockdiv"></div>
        {% elif election.status == "Ongoing" %}
            <p class="ml-2 mb-auto" style="color: white;">Election Ends In:</p> <div class="form-control form-control-dark w-100" id="clockdiv"></div>
        {% endif %}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{url_for('admin.admin_landing')}}">Back</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('admin.admin_election', election_id = election.id)}}">
                            <span data-feather="home"></span>
                            Overview <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.election_settings', election_id = election.id)}}">
                            <span data-feather="settings"></span>
                            Settings
                        </a>
                    </li>
                    {% if election.status == "Building" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.election_candidates', election_id = election.id)}}">
                            <span data-feather="user"></span>
                            Candidates
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.election_ballot', election_id = election.id)}}">
                            <span data-feather="archive"></span>
                            Ballots
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.election_voters', election_id = election.id)}}">
                            <span data-feather="users"></span>
                            Voters
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.launch_election', election_id=election.id)}}">
                            <span data-feather="zap"></span>
                            Launch Election
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.election_analyse', election_id = election.id)}}">
                            <span data-feather="bar-chart-2"></span>
                            Election Analysis
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
              <div class="col-4"></div>
              <div class="col-4">
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  <!-- This function gets a flashed message when redirected to another page -->
                  {% if messages%}
                  {% for category, message in messages%}
                  <!-- the message it flashes is dependent on the category -->
                  <div class="alert alert-{{ category }}">
                      <span data-feather="alert-circle"></span>{{ message }}
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
              </div>
              <div class="col-4"></div>
{% block content %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" disabled>{{election.status}}</button>
              </div>
            </div>
          </div>
        
          <!-- The main sauce for cards -->
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header font-weight-bold">Election Start Date:</div>
                            <div class="card-body">
                                <span data-feather="clock"></span>  <b>{{election.start_at.strftime("%Y, %b %d, %H:%M")}}</b>
                            </div>
                        </div>
                    </div>
                     <div class="col-12 col-md-5">
                        <div class="card bg-light mb-3 " style="max-width: 18rem; margin-left: auto;">
                            <div class="card-header font-weight-bold">Election Finish Date:</div>
                            <div class="card-body">
                                <span data-feather="clock"></span> <b>{{election.end_at.strftime("%Y, %b %d, %H:%M")}}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-md-4">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header font-weight-bold">Number of Voters:</div>
                            <div class="card-body">
                                <span data-feather="user"></span>  <b></b>
                            </div>
                        </div>
                    </div>
                     <div class="col-12 col-md-4">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header font-weight-bold">Number of votes casted:</div>
                            <div class="card-body">
                                <span data-feather="user"></span> <b>{{election.votes_number}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header font-weight-bold">Percentage of Voters Voted:</div>
                            <div class="card-body">
                                <span data-feather="percent"></span> <b></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% endblock content %}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <script>window.jQuery || document.write('<script src="{{url_for("static", filename="js/jquery-slim.min.js")}}"><\/script>')</script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Icons -->
    <script src="{{url_for('static', filename='js/feather.min.js')}}"></script>
    <script>
      feather.replace()
    </script>
    <script>
        // letting the flashed messages disappear
        setTimeout(function() {
            $('.alert').fadeOut('fast');
        }, 3000);

    </script>
    <script>
        //countdown timer
        function getTimeRemaining(endtime) {
            const total = Date.parse(endtime) - Date.parse(new Date());
            const seconds = Math.floor((total / 1000) % 60);
            const minutes = Math.floor((total / 1000 / 60) % 60);
            const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
            const days = Math.floor(total / (1000 * 60 * 60 * 24));

            return {
                total,
                days,
                hours,
                minutes,
                seconds
            };
        }

        function initializeClock(id, endtime) {
            const clock = document.getElementById(id);
            const timeinterval = setInterval(() => {
                const t = getTimeRemaining(endtime);
                clock.innerHTML = 'days: ' + t.days + '&nbsp;' +
                    'hours: ' + t.hours + '&nbsp;' +
                    'minutes: ' + t.minutes + '&nbsp;' +
                    'seconds: ' + t.seconds;
                if (t.total <= 0) {
                    clearInterval(timeinterval);
                    window.location.replace("{{url_for('admin.launch_election', election_id=election.id)}}");
                }
            }, 1000);
        }
        {% if election.status == "Ongoing" %}
            const deadline = "{{election.end_at }}";
        {% elif election. status == "Building" %}
            const deadline = "{{election.start_at }}";
        {% endif %}
        
        initializeClock('clockdiv', deadline);
    </script>
    
    {% block scripts %}
    {% endblock scripts %}
      
  </body>
</html>
