{% extends "admin-election.html" %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Voters</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">{{election.status}}</button>
            </div>
        </div>
    </div>

    <!-- The main sauce for cards -->
    <div class="container">
        {% if voters | length == 0 %}
        <div class="row mt-5">
            <section class="jumbotron text-center bg-white" style="margin: 0 auto;">
                <div class="container-fluid">
                    <h1 class="jumbotron-heading">You have no voters for this election!</h1>
                    <p class="lead text-muted">Get started by adding your first voters</p>
                    <p>
                        <!--animate button later -->
                       <a href="#" class="btn btn-outline-info btn-lg my-2" aria-pressed="true" role="button" data-toggle="modal" data-target="#addVoterModal"><span data-feather="user-plus"></span> Add Voter</a>
                        &nbsp;
                        <a href="#" class="btn btn-outline-info btn-lg my-2" aria-pressed="true" role="button" data-toggle="modal" data-target="#importVoterModal"><i class="fa fa-upload"></i> Import Voters</a>
                    </p>
                </div>
            </section>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-md btn-outline-info" id="searchVoterButton" style="margin-left: auto;" data-toggle="modal" data-target="#searchVoterModal"><span data-feather="search"></span> Search Voter</button>
            </div>
            <div class="col-md-4">
                <p class="font-weight-bold">You have a total of: {{voters | length}} Voters!</p>
            </div>
            <div class="col-md-4">
                
                <button class="btn btn-md btn-outline-info" id="addVoterButton" style="margin-left: auto;" data-toggle="modal" data-target="#addVoterModal"><span data-feather="user-plus"></span> Add Voter</button>
                {% if election.status == "Building" %}
                <button class="btn btn-md btn-outline-danger" id="deleteVotersButton" data-toggle="modal" data-target="#deleteVotersModal" style="margin-left: auto;" ><span data-feather="trash"></span> Delete Database</button>
                {% endif %}
            </div>
        </div>
            <section id="candidatesTable" class="mt-3">
                <div class="row">
                    <div class="container">
                        <table class="table table-bordered table-hover" style="margin: 0 auto;">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Voter Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Index No.</th>
                                    <th scope="col">Campus</th>
                                    <th scope="col">Level</th>
                                    {% if election.status != "Building" %}
                                    <th scope="col">Has Voted</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for voter in voters %}
                                <tr class="clickable-row" data-href="{{url_for('admin.voter_details', election_id=election.id, voter_id=voter.id)}}">
                                    <td>{{voter.name}}</td>
                                    <td>{{voter.email}}</td>
                                    <td>{{voter.index_number}}</td>
                                    <td>{{voter.campus}}</td>
                                    <td>{{voter.level}}</td>
                                    {% if election.status != "Building" %}
                                    <td>{{voter.has_voted}}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="table-info table-bordered">
                                    <td>Total Numer of Voters:</td>
                                    <td>{{voters | length}}</td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </section>
        {% endif %}

    </div>
</main>

<!-- Add Voter Modal -->
<div class="modal" tabindex="-1" id="addVoterModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Voter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {{voter_form.hidden_tag()}}
                    <div class="form-group col-12 col-md-12">
                        {{ voter_form.name.label(class="form-control-label") }}
                        {% if voter_form.name.errors %}
                        {{ voter_form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in voter_form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ voter_form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group col-12 col-md-12">
                        {{ voter_form.email.label(class="form-control-label") }}
                        {% if voter_form.email.errors %}
                        {{ voter_form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in voter_form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ voter_form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group col-12 col-md-12">
                        {{ voter_form.index_number.label(class="form-control-label") }}
                        {% if voter_form.index_number.errors %}
                        {{ voter_form.index_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in voter_form.index_number.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ voter_form.index_number(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group col-12 col-md-12">
                        {{ voter_form.campus.label(class="form-control-label") }}
                        {% if voter_form.campus.errors %}
                        {{ voter_form.campus(class="form-control form-control-lg is-invalid", style="font-size: 17px;") }}
                        <div class="invalid-feedback">
                            {% for error in voter_form.campus.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ voter_form.campus(class="form-control form-control-lg", style="font-size: 17px;") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group col-12 col-md-12">
                        {{ voter_form.level.label(class="form-control-label") }}
                        {% if voter_form.level.errors %}
                        {{ voter_form.level(class="form-control form-control-lg is-invalid", style="font-size: 17px;") }}
                        <div class="invalid-feedback">
                            {% for error in voter_form.level.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ voter_form.level(class="form-control form-control-lg", style="font-size: 17px;") }}
                        {% endif %}
                    </div>
                    
                    {{voter_form.submit_voter(class="btn btn-outline-primary")}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Import Voters Modal -->
<div class="modal" tabindex="-1" id="importVoterModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importing Voters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {{import_voters.hidden_tag()}}
                    <div class="form-group col-12 col-md-12">
                        {{ import_voters.voters.label(class="form-control-label") }}
                        {% if import_voters.voters.errors %}
                        {{ import_voters.voters(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in import_voters.voters.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ import_voters.voters(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    {{import_voters.submit_voters(class="btn btn-outline-primary")}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal" tabindex="-1" id="deleteVotersModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Voter Database?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('admin.delete_voters', election_id=election.id)}}" method="POST">
            <button type="submit" class="btn btn-danger">Delete Voters</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Delete Modal -->
<div class="modal" tabindex="-1" id="deleteVotersModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Voter Database?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('admin.delete_voters', election_id=election.id)}}" method="POST">
            <button type="submit" class="btn btn-danger">Delete Voters</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Search Modal -->
<div class="modal fade" tabindex="-1" id="searchVoterModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Voter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <button id="searchNameButton" class="btn btn-outline-primary">Search by Name</button>
          </div>
          <div class="col-12 col-md-4">
            <button id="searchIndexButton" class="btn btn-outline-info">Search by Index No.</button>
          </div> 
          <div class="col-12 col-md-4">
            <button id="searchEmailButton" class="btn btn-outline-warning">Search by Email</button>
          </div>
        </div>
          
        <div class="row">
            <div class="col-12">
                <form id="searchName" style="display: none;" method="POST" action="">
                    {{search_name.hidden_tag()}}
                    <div class="form-group mt-2 col-12 col-md-12">
                        {{ search_name.name_search.label(class="form-control-label") }}
                        {% if search_name.name_search.errors %}
                        {{ search_name.name_search(class="form-control form-control-lg is-invalid", placeholder="Enter Voter Name") }}
                        <div class="invalid-feedback">
                            {% for error in search_name_search.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ search_name.name_search(class="form-control form-control-lg", placeholder="Enter Voter Name") }}
                        {% endif %}
                        
                        {{search_name.search_name(class="btn btn-primary mt-2")}}
                    </div>
                    
                </form>
                
                <form id="searchIndex" style="display: none;" method="POST" action="">
                    {{search_index.hidden_tag()}}
                    <div class="form-group mt-2 col-12 col-md-12">
                        {{ search_index.index_number_search.label(class="form-control-label") }}
                        {% if search_index.index_number_search.errors %}
                        {{ search_index.index_number_search(class="form-control form-control-lg is-invalid", placeholder="Enter Voter Index Number") }}
                        <div class="invalid-feedback">
                            {% for error in search_index.index_number_search.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ search_index.index_number_search(class="form-control form-control-lg", placeholder="Enter Voter Index Number") }}
                        {% endif %}
                        
                        {{search_index.search_index(class="btn btn-info mt-2")}}
                    </div>
                </form>
                
                <form id="searchEmail" style="display: none;" method="POST" action="">
                    {{search_email.hidden_tag()}}
                    <div class="form-group mt-2 col-12 col-md-12">
                        {{ search_email.email_search.label(class="form-control-label") }}
                        {% if search_email.email_search.errors %}
                        {{ search_email.email_search(class="form-control form-control-lg is-invalid", placeholder="Enter Voter Email") }}
                        <div class="invalid-feedback">
                            {% for error in search_email_search.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ search_email.email_search(class="form-control form-control-lg", placeholder="Enter Voter Email") }}
                        {% endif %}
                        
                        {{search_email.search_email(class="btn btn-warning mt-2")}}
                    </div>
                </form>
            </div>
        
        </div>
        
        <div class="row mt-2">
          <section id="searchResultsTable">
                <div class="row">
                    <div class="container" style="margin: 0 auto;">
                        <table class="table table-bordered table-hover" style="margin: 0 auto;">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Voter Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Index No.</th>
                                    <th scope="col">Campus</th>
                                    {% if election.status != "Building" %}
                                    <th scope="col">Has Voted</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody id="resultsRow">
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });

</script>
<script>
    {% if import_voters.errors %}
        $(window).on('load', function() {
            $('#importVoterModal').modal('show');
        }); 
    {% endif %}
</script>
<script>
    {% if voter_form.errors %}
        $(window).on('load', function() {
            $('#addVoterModal').modal('show');
        }); 
    {% endif %}
</script>
<script>
    $("#searchIndexButton").on('click', function(){
        $("#searchIndex").css("display", "block");
        $("#searchName").css("display", "none");
        $("#searchEmail").css("display", "none");
    });
    
    $("#searchNameButton").on('click', function(){
        $("#searchIndex").css("display", "none");
        $("#searchName").css("display", "block");
        $("#searchEmail").css("display", "none");
    });
    
    $("#searchEmailButton").on('click', function(){
        $("#searchIndex").css("display", "none");
        $("#searchName").css("display", "none");
        $("#searchEmail").css("display", "block");
    });
</script>
<script>
    
    //script to take care of search by index
        $("#search_index").click(function (e) {
            var optionHTML = "";
            var option = "";
            var voter_index = document.getElementById('index_number_search').value
            e.preventDefault();
            
            $.ajax({
                    type: "POST",
                    url: "{{url_for('admin.search_voter_index')}}" + '{{election.id}}/' + voter_index,
                    success: 
                        function (data) {
                        var voter = data.voter[0];
                        option += " <td>" + voter.name + "</td> <td>" + voter.email + "</td> <td>" + voter.index_number + "</td> <td>" + voter.campus + "</td>";
                        url = "{{url_for('admin.voter_details')}}{{election.id}}/" + voter.id + ">";

                        optionHTML += '<tr class="clickable-row" data-href=' + url + '>' + option + '</tr>';


                        $("#resultsRow").append(optionHTML);
                        $("#searchVoterModal").show();
                        $("#searchIndex").css("display", "block");
                        $("#searchName").css("display", "none");
                        $("#searchEmail").css("display", "none");
                        $(".clickable-row").click(function() {
                            window.document.location = $(this).data("href");
                        });
                }
            });
        });
    
    $("#search_name").click(function (e) {
            var optionHTML = "";
            var option = "";
            var voter_index = document.getElementById('name_search').value
            e.preventDefault();
            
            $.ajax({
                    type: "POST",
                    url: "{{url_for('admin.search_voter_name')}}" + '{{election.id}}/' + voter_index,
                    success: 
                        function (data) {
                        var voter = data.voter[0];
                        option += " <td>" + voter.name + "</td> <td>" + voter.email + "</td> <td>" + voter.index_number + "</td> <td>" + voter.campus + "</td>";
                        url = "{{url_for('admin.voter_details')}}{{election.id}}/" + voter.id + ">";

                        optionHTML += '<tr class="clickable-row" data-href=' + url + '>' + option + '</tr>';


                        $("#resultsRow").append(optionHTML);
                        $("#searchVoterModal").show();
                        $("#searchIndex").css("display", "none");
                        $("#searchName").css("display", "block");
                        $("#searchEmail").css("display", "none");
                        $(".clickable-row").click(function() {
                            window.document.location = $(this).data("href");
                        });
                }
            });
        });
    
    $("#search_email").click(function (e) {
            var optionHTML = "";
            var option = "";
            var voter_index = document.getElementById('email_search').value
            e.preventDefault();
            
            $.ajax({
                    type: "POST",
                    url: "{{url_for('admin.search_voter_email')}}" + '{{election.id}}/' + voter_index,
                    success: 
                        function (data) {
                        var voter = data.voter[0];
                        option += " <td>" + voter.name + "</td> <td>" + voter.email + "</td> <td>" + voter.index_number + "</td> <td>" + voter.campus + "</td>";
                        url = "{{url_for('admin.voter_details')}}{{election.id}}/" + voter.id + ">";

                        optionHTML += '<tr class="clickable-row" data-href=' + url + '>' + option + '</tr>';


                        $("#resultsRow").append(optionHTML);
                        $("#searchVoterModal").show();
                        $("#searchIndex").css("display", "none");
                        $("#searchName").css("display", "none");
                        $("#searchEmail").css("display", "block");
                        $(".clickable-row").click(function() {
                            window.document.location = $(this).data("href");
                        });
                }
            });
        });
</script>

{% endblock scripts %}
