<!doctype html>
<html lang="en">

<head>
    {% if title %}
    <title>{{title}} | BHJCR Online</title>
    {% else %}
    <title>BHJCR Online</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/img/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin-election.css')}}">
    <!--===============================================================================================-->

</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{election.name}}</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="" aria-label="Search" disabled>
        <ul class="navbar-nav px-3">
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {% block content %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2" style="margin: 0 auto;">Confirm Your Details</h1>
                </div>
                
                <!-- The main sauce for cards -->
                <div class="container">
                    <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                        <div class="card-header">Are these right?</div>
                        <div class="card-body text-info">
                            <h5 class="card-title">{{voter.name}}</h5>
                            <p class="card-text"><b>{{voter.email}}</b></p>

                            <form method="POST" action="">
                                <label>Select Your Campus: </label>
                                <select id="campus" name="campus" class="form-control col-6" style="margin: 0 auto;">
                                    <option value="Main">Main</option>
                                    <option value="City">City</option>
                                </select>
                                <label>Select Your Level: </label>
                                <select id="campus" name="level" class="form-control col-6" style="margin: 0 auto;">
                                    <option value="Main">Level 100</option>
                                    <option value="City">Level 200</option>
                                    <option value="City">Level 300</option>
                                    <option value="City">Level 400</option>
                                </select>
                                <div class="form-group">
                                    <label for="index_number">Enter Your Index Number: </label>
                                    <input type="text" class="form-control col-6" id="index_number" name="index_number" style="margin: 0 auto;" placeholder="*******">
                                    
                                    <button class="btn btn-outline-info mt-2" type="submit">Verify Details</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </main>
             <!-- Welcome Modal -->
                <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="welcomeModalLabel">Welcome!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Welcome to the Business House Junior Common Room 2021 Elections.<br>
                                In order to proceed, you need to verify your details to take part in the election process.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Verify Details</button>
                            </div>
                        </div>
                    </div>
                </div>
    
            {% endblock content %}
        </div>
    </div>
  <!-- Flash Messages Modal -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="modal" tabindex="-1" id="flashModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for category, message in messages%}
                     <div class="alert alert-{{ category }}">
                      <center><span data-feather="alert-circle"></span>{{ message }}</center>
                  </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <script>
        window.jQuery || document.write('<script src="{{url_for("static", filename="js/jquery-slim.min.js")}}"><\/script>')

    </script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <!-- Icons -->
    <script src="{{url_for('static', filename='js/feather.min.js')}}"></script>
    <script>
        feather.replace()

    </script>
    <script>
        // letting the flashed messages disappear
        setTimeout(function() {
            $('#flashModal').hide();
        }, 3000);
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            $('#flashModal').show();
        {% endif %}
        {% endwith %}
        
        
        $(window).on('load', function() {
            $("#welcomeModal").modal();
        });
    </script>

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>
