{% extends "voters-landing.html" %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h4 class="h4" style="margin: 0 auto;">Vote Your Candidate</h4>
    </div>

    {% if voter.campus == "Main" %}
    <div class="container">
        {# This side is for the main campus people #}
        {% set presidents = candidate.query.filter_by(election_id=voter.election_id,portfolio="President", campus=voter.campus).all() %}
        <section class="tab" id="presidentTab" style="margin: 0 auto;">
            {% for president in presidents %}
            <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                <div class="card-header">Presidential Candidate</div>
                <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/' + president.image_file)}}" alt="Candidate Image">
                <div class="card-body text-info">
                    <h5 class="card-title">{{president.name}}</h5>
                    <p class="card-text">{{president.campus}}</p>
                    <button class="voter1" id="presidentMainYes" value="Yes">Yes</button>
                    <button class="voter1" id="presidentMainNo" value="No">No</button>

                </div>
            </div>
            {% endfor %}
        </section>
        
        {% set vices = candidate.query.filter_by(election_id=voter.election_id, portfolio="Vice President", campus=voter.campus).all() %}
        <section class="tab" id="vicePresidentTab" style="margin: 0 auto; display: none;">
            {% for vice in vices %}
            <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                <div class="card-header">Vice Presidential Candidate</div>
                <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/'+vice.image_file)}}" alt="Candidate Image">
                <div class="card-body text-info">
                    <h5 class="card-title">{{vice.name}}</h5>
                    <p class="card-text">{{vice.campus}}</p>
                    <button class="voter1" id="vicePresidentMainYes" value="Yes">Yes</button>
                    <button class="voter1" id="vicePresidentMainNo" value="No">No</button>
                </div>
            </div>
            {% endfor %}
        </section>
        
        {% set financials = candidate.query.filter_by(election_id=voter.election_id, portfolio="Financial Controller", campus=voter.campus).all()%}
        <section class="tab" id="financialTab" style="margin: 0 auto; display: none;">
            {% for financial in financials %}
            <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                <div class="card-header">Financial Controller Candidate</div>
                <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/'+financial.image_file)}}" alt="Candidate Image">
                <div class="card-body text-info">
                    <h5 class="card-title">{{financial.name}}</h5>
                    <p class="card-text">{{financial.campus}}</p>
                    <button class="voter1" id="financialYes" value="Yes">Yes</button>
                    <button class="voter1" id="financialNo" value="No">No</button>
                </div>
            </div>
            {% endfor %}
        </section>
        
        {% set general_one = candidate.query.filter_by(election_id=voter.election_id, portfolio="General Secretary", campus=voter.campus).first()%}
        <section class="tab" id="generalSecretaryTab" style="margin: 0 auto; display: none;">
            <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                <div class="card-header">General Secretary Candidate</div>
                <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/'+general_one.image_file)}}" alt="Candidate Image">
                <div class="card-body text-info">
                    <h5 class="card-title">{{general_one.name}}</h5>
                    <p class="card-text">{{general_one.campus}}</p>
                    <button class="voter" id="candidate-3" value="{{general_one.name}}">Select Candidate</button>
                </div>
            </div>
        {% set general_two = candidate.query.filter_by(election_id=voter.election_id, portfolio="General Secretary", campus=voter.campus).all()%}
            <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                <div class="card-header">General Secretary Candidate</div>
                <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/'+general_two[-1].image_file)}}" alt="Candidate Image">
                <div class="card-body text-info">
                    <h5 class="card-title">{{general_two[-1].name}}</h5>
                    <p class="card-text">{{general_two[-1].campus}}</p>
                    <button class="voter" id="candidate-4" value="{{general_two[-1].name}}">Select Candidate</button>

                </div>
            </div>
        </section>
        
        {% set orga_one = candidate.query.filter_by(election_id=voter.election_id, portfolio="Organizing Secretary", campus=voter.campus).first()%}
         <section class="tab" id="organizingSecretaryTab" style="margin: 0 auto; display: none;">
            <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                <div class="card-header">Organizing Secretary Candidate</div>
                <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/'+orga_one.image_file)}}" alt="Candidate Image">
                <div class="card-body text-info">
                    <h5 class="card-title">{{orga_one.name}}</h5>
                    <p class="card-text">{{orga_one.campus}}</p>
                    <button class="voter" id="candidate-5" value="{{orga_one.name}}">Select Candidate</button>
                    
                </div>
            </div>
             
        {% set orga_two = candidate.query.filter_by(election_id=voter.election_id, portfolio="Organizing Secretary", campus=voter.campus).all()%}
            <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                <div class="card-header">Organizing Secretary Candidate</div>
                <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/'+orga_two[-1].image_file)}}" alt="Candidate Image">
                <div class="card-body text-info">
                    <h5 class="card-title">{{orga_two[-1].name}}</h5>
                    <p class="card-text">{{orga_two[-1].campus}}</p>
                    <button class="voter" id="candidate-6" value="{{orga_two[-1].name}}">Select Candidate</button>

                </div>
            </div>
        </section>
        
         <form method='POST' id="mainVoted" action='{{url_for("voters.voters_vote", election_id=voter.election_id, index_number=voter.index_number)}}'>
            <input id="presidentMain" name="votedPresidentMain" value="" hidden>
            <input id="vicePresidentMain" name="votedVicePresidentMain" value="" hidden>
            <input id="financialControllerMain" name="votedFinancial" value="" hidden>
            <input id="organizingMain" name="votedOrganizing" value="" hidden>
            <input id="generalMain" name="votedGeneral" value="" hidden>
        <div style="margin:0 auto;">
            <div style="margin: 0 auto;">
                <button type="button" class="btn btn-lg btn-outline-info mb-3" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" class="btn btn-lg btn-outline-info mb-3" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
        </form>
        {% else %}

        
        {# This side is for the city campus people #}
        {% set vices = candidate.query.filter_by(election_id=voter.election_id, portfolio="Vice President", campus=voter.campus).all() %}
            <section class="tab" id="cityViceTab" style="margin: 0 auto; max-width: 30rem;">
                {% for vice in vices %}
                <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                    <div class="card-header">Vice Presidential Candidate</div>
                    <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/' + vice.image_file)}}" alt="Candidate Image">
                    <div class="card-body text-info">
                        <h5 class="card-title">{{vice.name}}</h5>
                        <p class="card-text">{{vice.campus}}</p>
                        <button class="voter1" id="vicePresidentCityYes" value="Yes">Yes</button>
                    <button class="voter1" id="vicePresidentCityNo" value="No">No</button>
                    </div>
                </div>
                {% endfor %}
            </section>

            {% set treasurers = candidate.query.filter_by(election_id=voter.election_id, portfolio="Treasurer", campus=voter.campus).all() %}
            <section class="tab" id="treasurerTab" style="margin: 0 auto; max-width: 30rem; display: none;">
                {% for treasurer in treasurers %}
                <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                    <div class="card-header">Treasurer Candidate</div>
                    <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/'+ treasurer.image_file)}}" alt="Candidate Image">
                    <div class="card-body text-info">
                        <h5 class="card-title">{{treasurer.name}}</h5>
                        <p class="card-text">{{treasurer.campus}}</p>
                        <button class="voter1" id="treasurerYes" value="Yes">Yes</button>
                    <button class="voter1" id="treasurerNo" value="No">No</button>
                    </div>
                </div>
                {% endfor %}
            </section>

        {% set coordinators = candidate.query.filter_by(election_id=voter.election_id, portfolio="Coordinator", campus=voter.campus).all() %}
            <section class="tab" id="coordinatorTab" style="margin: 0 auto; max-width: 30rem; display: none;">
                {% for coordinator in coordinators %}
                <div class="card border-info text-center mb-3" style="max-width: 30rem; margin: 0 auto;">
                    <div class="card-header">Coordinator Candidate</div>
                    <img class="card-img-top" src="{{url_for('static', filename='candidate_pictures/default.jpg')}}" alt="Candidate Image">
                    <div class="card-body text-info">
                        <h5 class="card-title">{{coordinator.name}}</h5>
                        <p class="card-text">{{coordinator.campus}}</p>
                        <button class="voter1" id="coordinatorYes" value="Yes">Yes</button>
                    <button class="voter1" id="coordinatorNo" value="No">No</button>
                    </div>
                </div>
                {% endfor %}
            </section>

        

            <form method='POST' id="cityVoted" action='{{url_for("voters.voters_vote", election_id=voter.election_id, index_number=voter.index_number)}}'>
                <input id="vicePresidentCity" name="votedVicePresidentCity" value="" hidden>
                <input id="treasurerCity" name="votedTreasurer" value="" hidden>
                <input id="coordinatorCity" name="votedCoordinator" value="" hidden>
            <div style="margin:0 auto;">
                <div style="margin: 0 auto;">
                    <button type="button" class="btn btn-lg btn-outline-info mb-3" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" class="btn btn-lg btn-outline-info mb-3" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
            </div>
            </form>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block scripts %}
<script>
//main candidates
var organizingVoted = [];
var generalVoted = [];
var presidentMainVote;
var vicePresidentMainVote;
var financialVote;

    
// city candidates
var vicePresidentCityVote;
var treasurerVote;
var coordinatorVote;

    
    
//handlers for Yes and No Buttons
$("#presidentMainYes").on('click', function(e){
    $("#presidentMainYes").css("background-color", "green");
    $("#presidentMainNo").css("background-color", "");
    
    presidentMainVote = e.target.value;
});

$("#presidentMainNo").on('click', function(e){
    $("#presidentMainNo").css("background-color", "green");
    $("#presidentMainYes").css("background-color", "");
    
    presidentMainVote = e.target.value;
});

$("#vicePresidentMainYes").on('click', function(e){
    $("#vicePresidentMainYes").css("background-color", "green");
    $("#vicePresidentMainNo").css("background-color", "");
    
    vicePresidentMainVote = e.target.value;
});

$("#vicePresidentMainNo").on('click', function(e){
    $("#vicePresidentMainNo").css("background-color", "green");
    $("#vicePresidentMainYes").css("background-color", "");
    
    vicePresidentMainVote = e.target.value;
});
   
$("#financialYes").on('click', function(e){
    $("#financialYes").css("background-color", "green");
    $("#financialNo").css("background-color", "");
    
    financialVote= e.target.value;
});

$("#financialNo").on('click', function(e){
    $("#financialNo").css("background-color", "green");
    $("#financialYes").css("background-color", "");
    
    financialVote = e.target.value;
});
    


$("#vicePresidentCityYes").on('click', function(e){
    $("#vicePresidentCityYes").css("background-color", "green");
    $("#vicePresidentCityNo").css("background-color", "");
    
    vicePresidentCityVote = e.target.value;
});

$("#vicePresidentCityNo").on('click', function(e){
    $("#vicePresidentCityNo").css("background-color", "green");
    $("#vicePresidentCityYes").css("background-color", "");
    
    vicePresidentCityVote = e.target.value;
});
    


$("#treasurerYes").on('click', function(e){
    $("#treasurerYes").css("background-color", "green");
    $("#treasurerNo").css("background-color", "");
    
    treasurerVote = e.target.value;
});

$("#treasurerNo").on('click', function(e){
    $("#treasurerNo").css("background-color", "green");
    $("#treasurerYes").css("background-color", "");
    
    treasurerVote = e.target.value;
});
    


$("#coordinatorYes").on('click', function(e){
    $("#coordinatorYes").css("background-color", "green");
    $("#coordinatorNo").css("background-color", "");
    
    coordinatorVote = e.target.value;
});

$("#coordinatorNo").on('click', function(e){
    $("#coordinatorNo").css("background-color", "green");
    $("#coordinatorYes").css("background-color", "");
    
    coordinatorVote = e.target.value;
});
// check if
// handler for select candidates button, amateruish yea leave me lmao
$('#candidate-3').on('click', function(e){
    if(e.target.textContent == 'Select Candidate'){
        e.target.textContent = 'Candidate Selected';
        if(!generalVoted.includes(e.target.value)){//if the array doesn't contain the value when the candidate is selected push it into the array
            generalVoted.push(e.target.value);
        }
        
        //removes the candidate 1 from the array
        value2 = $('#candidate-4').val();
        if(generalVoted.includes(value2)){
            index = generalVoted.indexOf(value2);
            generalVoted.splice(index, 1);
        }
        
    } else { //if it is unselected remove the id from the place
        e.target.textContent = 'Select Candidate';
        index = generalVoted.indexOf(e.target.value);
        generalVoted.splice(index, 1);
    }
    
    
    $('#candidate-4').html("Select Candidate");

});

$('#candidate-4').on('click', function(e){
    if(e.target.textContent == 'Select Candidate'){
        e.target.textContent = 'Candidate Selected';
        if(!generalVoted.includes(e.target.value)){//if the array doesn't contain the value when the candidate is selected push it into the array
            generalVoted.push(e.target.value);
        }
        
        //removes the candidate 1 from the array
        value2 = $('#candidate-3').val();
        if(generalVoted.includes(value2)){
            index = generalVoted.indexOf(value2);
            generalVoted.splice(index, 1);
        }
        
    } else { //if it is unselected remove the id from the place
        e.target.textContent = 'Select Candidate';
        index = generalVoted.indexOf(e.target.value);
        generalVoted.splice(index, 1);
    }
    
    
    $('#candidate-3').html("Select Candidate");
});
    
    
$('#candidate-5').on('click', function(e){
    if(e.target.textContent == 'Select Candidate'){
        e.target.textContent = 'Candidate Selected';
        if(!organizingVoted.includes(e.target.value)){//if the array doesn't contain the value when the candidate is selected push it into the array
            organizingVoted.push(e.target.value);
        }
        
        //removes the candidate 1 from the array
        value2 = $('#candidate-6').val();
        if(organizingVoted.includes(value2)){
            index = organizingVoted.indexOf(value2);
            organizingVoted.splice(index, 1);
        }
        
    } else { //if it is unselected remove the id from the place
        e.target.textContent = 'Select Candidate';
        index = organizingVoted.indexOf(e.target.value);
        organizingVoted.splice(index, 1);
    }
    
    
    $('#candidate-6').html("Select Candidate");
});

$('#candidate-6').on('click', function(e){
    if(e.target.textContent == 'Select Candidate'){
        e.target.textContent = 'Candidate Selected';
        if(!organizingVoted.includes(e.target.value)){//if the array doesn't contain the value when the candidate is selected push it into the array
            organizingVoted.push(e.target.value);
        }
        
        //removes the candidate 1 from the array
        value2 = $('#candidate-5').val();
        if(organizingVoted.includes(value2)){
            index = organizingVoted.indexOf(value2);
            organizingVoted.splice(index, 1);
        }
        
    } else { //if it is unselected remove the id from the place
        e.target.textContent = 'Select Candidate';
        index = organizingVoted.indexOf(e.target.value);
        organizingVoted.splice(index, 1);
    }
    
    
    $('#candidate-5').html("Select Candidate");
});
    

</script>

<script>

    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
      // This function will display the specified tab of the form ...
      var x = document.getElementsByClassName("tab");
      x[n].style.display = "block";
      // ... and fix the Previous/Next buttons:
      if (n == 0) {
        document.getElementById("prevBtn").style.display = "none";
      } else {
        document.getElementById("prevBtn").style.display = "inline";
      }
      if (n == (x.length - 1)) {
        document.getElementById("nextBtn").innerHTML = "Submit";
        
      } else {
        document.getElementById("nextBtn").innerHTML = "Next";
      }
      // ... and run a function that displays the correct step indicator:

    }

    function nextPrev(n) {
      // This function will figure out which tab to display
      var x = document.getElementsByClassName("tab");
      // Exit the function if any field in the current tab is invalid:
      
      // Hide the current tab:
      x[currentTab].style.display = "none";
      // Increase or decrease the current tab by 1:
      currentTab = currentTab + n;
      // if you have reached the end of the form... :
      if (currentTab >= x.length) {
        //...the form gets submitted:
          
        //if statement here depending on which campus, what to submit
          {% if voter.campus == "Main" %}
            document.getElementById("presidentMain").value = presidentMainVote;
            document.getElementById("vicePresidentMain").value = vicePresidentMainVote;
            document.getElementById("generalMain").value = generalVoted;
            document.getElementById("organizingMain").value = organizingVoted;
            document.getElementById("financialControllerMain").value = financialVote;
           
            document.getElementById("mainVoted").submit();
          {% else %}
            document.getElementById("vicePresidentCity").value = vicePresidentCityVote;
            document.getElementById("treasurerCity").value = treasurerVote;
            document.getElementById("coordinatorCity").value = coordinatorVote;
           
            document.getElementById("cityVoted").submit();
          {% endif %}
        return false;
      }
      // Otherwise, display the correct tab:
      showTab(currentTab);
    }
</script>
{% endblock scripts %}
